.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--backdrop-background-color);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--hidden {
        opacity: 0;
        pointer-events: none;
    }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 90vw;
    max-width: 450px;

    background-color: var(--basic-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop--hidden & {
            transform: translate(-50%, 0);
        }

    @include mq(desk){
        min-width: 528px;
    }
}


