body {
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;

    background-color: var(--basic-white);
    color: var(--primary-text-color);
}

.section {
    padding: 94px 0;
}

.section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    @include mq(desk){
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
}
