.form__input {
    width: 100%;
    height: 40px;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus {
            border-color: var(--accent-color);
        }
}

.form__input:focus + .form__icon {
    color: var(--accent-color);
}