/* Logo */

.logo {
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    color: var(--logo-color);
}

.header__logo {
    margin-right: 91px;
}

.header__logo--accent {
    color: var(--accent-color);
}