.portfolio-overlay__text {
    position: absolute;
    top: 0;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    text-align: left;

    color: var(--basic-white);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 295px;
    background-color: var(--portfolio-animation);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio-overlay {
    transform: translateY(0);
}