:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    /* colors */
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --basic-white: #fff;
    --second-background-color: #f5f4fa;
    --hero-footer-background-color: #2f303a;
    --logo-color: #000000;
    --foot-text-color: rgba(255, 255, 255, 0.6);
    --features-icon-box: #f5f4fa;
    --clients-border-box: #afb1b8;
    --footer-social-circle: rgba(255, 255, 255, 0.1);
    --work-text-bc: rgba(47, 48, 58, 0.8);
    --portfolio-animation: rgba(33, 150, 243, 0.9);
    --backdrop-background-color: rgba(0, 0, 0, 0.2);
} 